<script type="text/javascript" src="js/script.js"></script>
<div class="design">
			<div class="navigation">
            <div class="wrapper">

            <div class="design_business left">
                    	<h1>Choose the business card design you like</h1>
                        
            </div><!--design-->
            <div class="clear"></div><!--clear-->
			<div class="business_main_content">
			<div class="business_left">
			<div class="left_view">
			<ul>
			<li><a herf="#" class="view">View</a></li>
			<li><a herf="#"><img src="images/view1_03.png" /></a></li>
			<li><a herf="#"><img src="images/view2_03.png" /></a></li>
			<li><a herf="#"><img src="images/view3_03.png" /></a></li>
			<li><a herf="#"><img src="images/view4_03.png" /></a></li>
			</ul>
			</div>
			<div class="left_search">
			<form>
			<span><input type="text" name="search_design" value="Search designs"/><input type="submit" value="" name="srch_submit" /></span>
			</form>
			</div>
			<div class="left_content">
			<ul>
			<span>Categories</span>
<% _.each(categorys, function (cat) { %>
                <li><%= cat.title %> <a href="?id=<%= cat.id %>">(<%= cat.count %>)</a></li>
    <% }) %>       							
			
			
			</ul>
			<span class="border">
			</span>
			<ul>
			<span>Style</span>

<% _.each(styles, function (style) { %>
                <li><%= style.title %> <a href="?id=<%= style.id %>">(<%= style.count %>)</a></li>
    <% }) %>       							

			
			</ul>
			<span class="border">
			</span>
			<ul class="color" style="width: 150px;">
			<span>Color</span>			
			<li><img src="images/color2_03.png" /></li>
			<li><img src="images/color3_03.png" /></li>
			<li><img src="images/color4_03.png" /></li>
			<li><img src="images/color5_03.png" /></li>
			<li><img src="images/color6_03.png" /></li>
			<li><img src="images/color7_03.png" /></li>
			<li><img src="images/color8_03.png" /></li>
			<li><img src="images/color9_03.png" /></li>
			<li><img src="images/color10_03.png" /></li>
			</ul>
			<span class="border">
			</span>
			<ul>
			<span>Elements</span>
			<li>Graphics</li>
			<li>Photos</li>
			</ul>
			</div>
			</div>
			
			<div class="business_right">
			<div class="paging">
			<div class="top_paging">
			<div class="page_left">1-3 of 3 designs   |   <a href="#">Show all</a></div>
			<div class="page_right"><a href="#">Previous</a>  |  1  | <a href="#">Next</a></div>
			</div>
			</div>
<div id="toPopup"> 
    	
        <div class="close"></div>
       	<span class="ecs_tooltip">Press Esc to close <span class="arrow"></span></span>
		<div id="popup_content"> <!--your content start-->
            <h1 id="poptitle">Clean Design</h1>
		 
			<div class="front_img"><img id="front_img" src="images/card-front_03.png" /> <a href="#">Front</a></div>
			<div class="back_img"><img id="back_img" src="images/card_back_03.png" /> <a href="#">Back</a></div>
		    <div class="customize"><a id="editlink" href="#"></a></div>
        </div> <!--your content end-->
    
    </div> <!--toPopup end-->
    
	<div class="loader"></div>
   	<div id="backgroundPopup"></div>			
			<div class="content_right">
<% _.each(templates, function (tpl) { %>
                <div class="design_img"><img src="/api/templates/<%= tpl.svg %>_front.png" width="217px" height="220px"  /><a svg="<%= tpl.svg %>" svg="<%= tpl.title %>" href="#" class="topopup"><%= tpl.title %></a></div>
    <% }) %>       				
				
	
			</div>
			<div class="paging">
			<div class="bottom_paging">
			<div class="page_right"><a href="#">Previous</a>  |  1  | <a href="#">Next</a></div>
			</div>
			</div>
			</div>
			 <div class="clear"></div><!--clear-->
			</div>
			
            </div><!--businness_card-->
           
            	
            </div><!--button-->
            <div class="clear"></div><!--clear-->
        
           

</div><!--design-->
